# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# hugo build artifacts
hugo/public/
hugo/.hugo_build.lock
hugo/resources/_gen/

# misc
.DS_Store
.env
.env.local
